.treatment {
  @include adaptiv-value("padding-top", 190, 30, 1);
  @include adaptiv-value("padding-bottom", 80, 30, 1);
  position: relative;
   &::before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0.2;
      height: 100%;
      background: url('../img/treatment/bg.jpg')center no-repeat;
   }
  &__container {
   position: relative;
  }

  &__content {
    display: flex;
    align-items: center;
    @include adaptiv-value("gap", 134, 15, 1);
    &:not(:last-child) {
      @include adaptiv-value("margin-bottom", 98, 20, 1);
    }
    @media (max-width:$tablet){
      flex-direction: column-reverse;
    }
  }
  &__services {
  }
}
.content-treatment {
  align-items: center;
  &__image {
   flex: 0 0 51.25%;
    padding: toRem(14);
    outline: 1px solid #9d875c;
    img {
      max-width: 100%;
    }
  }

  &__block {
    max-width: 500px;
   opacity: 0;
   visibility: hidden;
   transform: translate(0px,-200px);
   transition: all 0.6s ease 0s;
   &.active{
   opacity: 1;
   visibility: visible;
   transform: translate(0px,0px);
   }
  }
}

.services-treatment {
 display: flex;
 justify-content: space-between;
  max-width: 1024px;
  gap: toRem(15);
  margin: 0 auto;
  &__item {
   display: grid;
   justify-items: center;
    gap: toRem(29);
  }

  &__image {
    width: toRem(140);
    height: toRem(140);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before {
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      background: url("../img/button/bg-button.jpg") center no-repeat;
    }
    img {
      position: relative;
      max-width: 100%;
    }
  }

  &__text {
    font-family: "Italiana";
    text-transform: capitalize;
    @include adaptiv-value('font-size',24,20,1);
    color: $mainColor;
  }
  @media (max-width:em(610)){
  flex-direction: column;
 }
}
