.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 40px;
  &.scroll {
   .header__wrapper{
    background-color: rgba(0, 0, 0,0.3);
   }
   .header__container{
    @include adaptiv-value("min-height", 100, 70, 1);
   }
   .header__logo{
    @include adaptiv-value("width", 160, 100, 1);
   }
  }
  &__wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    transition: all 0.3s ease 0s;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    transition: min-height 0.3s ease 0s;
    @include adaptiv-value("min-height", 152, 70, 1);
    gap: toRem(15);
    align-items: center;
    padding-top: toRem(10);
    padding-bottom: toRem(10);
    @media (max-width: $mobile) {
      grid-template-columns: auto 1fr auto auto;
      gap: toRem(0);
    }
  }

  &__menu {
    justify-self: start;
  }

  &__logo {
    position: relative;
    z-index: 5;
    transition: width 0.3s ease 0s;
    @include adaptiv-value("width", 217, 100, 1);
    @media (max-width:$mobile){
      .lock & {
         path {
            fill: #fff;
          }
      }
    }
  }

  &__auth {
  }
}
.menu {
  &__icon {
  }

  &__body {
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    @include adaptiv-value("column-gap", 47, 10, 1, 767.98);
    row-gap: toRem(3);
  }

  &__item {
    position: relative;
    &::before{
      content:'';
      background-color:$hfcolor;
      bottom: 0;
      height: 2px;
      left: 50%;
      position: absolute;
      transition: left .2s ease,width .2s ease;
      width: 0;
    }
    @media (any-hover:hover){
      &:hover{
        &::before{
          width: 100%;
          left: 0;
        }
    }}
  }

  &__link {
    display: inline-block;
    font-weight: 300;
    line-height: 156.25%; /* 25/16 */
    color: $hfcolor;
    transition: color 0.3s ease 0s;
    &.active{
      color:#bd8c31;
    }
  }
}

.auth-header {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  @include adaptiv-value("column-gap", 47, 10, 1, 767.98);
  row-gap: toRem(3);
  font-weight: 300;
  line-height: 156.25%; /* 25/16 */
  color: $hfcolor;
  @media (max-width: $mobile) {
    color: #fff;
    column-gap: 20px;
    justify-content: center;
  }
  &__login {
    position: relative;
    &::before{
      content:'';
      background-color:$hfcolor;
      bottom: 0;
      height: 2px;;
      left: 50%;
      position: absolute;
      transition: left .2s ease,width .2s ease;
      width: 0;
    }
    @media (any-hover:hover){
      &:hover{
        &::before{
          width: 100%;
          left: 0;
        }
    }}
  }

  &__register {
    @extend .auth-header__login;
  }

  &__button {
    @media (max-width: $tablet) {
      padding: toRem(8) toRem(20);
    }
    @media (max-width: $mobile) {
      color: #fff;
      border: 1px solid #fff;
    }
  }
}

@media (max-width: 767px) {
  .icon__menu {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    cursor: pointer;
  }
  .menu__icon::before,
  .menu__icon::after,
  .menu__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: $hfcolor;
  }
  .menu__icon.active::before,
  .menu__icon.active::after,
  .menu__icon.active span {
    background-color: #fff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: -2px;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) traslate(0px, -50%);
  }
  .menu__icon.active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0%;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: $hfcolor;
    padding: toRem(110) toRem(15) toRem(15) toRem(15);
    transition: left 0.3s ease 0s;
    overflow: auto;
   display: grid;
   grid-template-rows: 1fr auto;
    row-gap: toRem(30);
  }
  .menu__body.active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    right: -100%;
    transition: right 0.3s ease 0s;
    @include adaptiv-value("height", 152, 70, 1);
    background-color: $hfcolor;
  }
  .menu__body.active::before {
   right: 0;
 }
  .menu__list {
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    gap: toRem(30);
    font-size: toRem(24);
  }
  .menu__list > li {
    flex-wrap: wrap;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: toRem(24);
    color: #fff;
  }
}
