%listCounter{
   list-style-type: none;
   counter-reset: item;
   li{
      position: relative;
      &:before{
         counter-increment: item;
         content: counter(item)".";
         position: absolute;
         top: 0;
         left: 0;
      }
   }
}

.rating{
   display: flex;
   align-items: flex-end;
   font-size: 36px;
   line-height: 0.75;
   &__body{
      position: relative;
      &::before{
         content:'★★★★★';
         display: block;
         color:grey;
      }
   }
   &__active{
      position: absolute;
      width: 0%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      &::before{
         content:'★★★★★';
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         color:rgb(226, 204, 9);
      }
   }
   &__items{
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
   }
   &__item{
      flex: 0 0 20%;
      height: 100%;
      opacity: 0;
   }
   &__value{
      font-size: 50%;
      line-height: 1;
      padding-left: 10px;
   }
   }
