.block-header {
  justify-items: start;
  &__label {
    line-height: 156.25%; /* 25/16 */
    text-transform: capitalize;
    &:not(:last-child){margin-bottom:toRem(20)}
  }

  &__title {
    font-family: "Italiana";
    color: $titlecolor;
    font-size: toRem(48);
    text-transform: capitalize;
    &:not(:last-child){margin-bottom:toRem(20)}
  }

  &__text {
    line-height: 156.25%;
    font-size: toRem(16);
    &:not(:last-child){margin-bottom:toRem(20)}
    blockquote {
      font-style: italic;
      &:not(:last-child) {
        margin-bottom: toRem(20);
      }
    }
  }

  &__button {
    line-height: 156.25%;
    font-weight: 300;
  }
}

// <div class="block-header">
//         <div class="block-header__label">About us</div>
//         <h2 class="block-header__title">Treating pet like Royalty</h2>
//         <div class="block-header__text">
//           <blockquote>“They’re not just pets, they’re family”</blockquote>
//          <p>
//             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam
//             mi id augue ultrices, in tempus elit tristique. Aliquam ultrices sem
//             non.
//          </p>
//         </div>
//         <a href="" class="block-header__button button"><span>Explore</span></a>
//       </div>