$fontFamily: "Montserrat";
//
$mainColor: #222220;
$hfcolor: #c1ab81;
$titlecolor: #9d875c;
//
$fontSize: 16px;
//
$containerWidth: 1570px;

//md query
// $pc: $containerWidth + $containerPadding;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;
@import "nullstyle.scss";
@import "fonts.scss";
@import "iconsFont.scss";
@import "mixins.scss";
@import "ibg.scss";
@import "base.scss";
@import "button.scss";
@import "swiper.scss";
@import "./header/header.scss";
@import "./footer/footer.scss";
@import "./blocks/hero/hero.scss";
@import "./blocks//treatment/treatment.scss";
@import "./blocks/products/products.scss";
@import "./blocks//services/services.scss";
@import "./blocks/care/care.scss";
@import "./blocks/contacts/contacts.scss";
@import "./blocks//reviews/reviews.scss";
@import "common.scss";

body {
  background: #efe9dd;
  font-family: $fontFamily;
  color: $mainColor;
  @include adaptiv-value("font-size", 18, 16, 1);
  .lock & {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
//footer to the bottom
main {
  flex: 1 1 auto;
}
//slider fix
// > * {
//    min-width: 0;
// }
[class*="__container"] {
  max-width: $containerWidth;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
